.single_value {
    padding: 2px;
    float: left;
}

.single_value.horizontal {
}

.single_value.vertical {
}

.single_value.horizontal .label {
    width: 100px;
    display: inline-block;
    padding-right: 10px;
}

.single_value.vertical .label {
    width: 100px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.single_value.horizontal .value {
    display: inline-block;
}

.single_value.vertical .value {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.single_value .contents {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 0;
    border: 1px solid #cccccc;
}

.single_value .contents img {
    position: absolute;
    padding: 0;
    margin: 0;
    border: 0;
}

.valence_arousal {
    width: 100%;
}

.satisfaction_vector {
    width: 100%;
}

.satisfaction_vector .contents {
}


.satisfaction_vector .contents  .single_value {
    width: 10%;
}

.separator {
    clear: both;
}

.motivations {
    clear: both;
}

.motivation {
    float: left;
}

.motivation .label {
    font-weight: bold;
}

.history {
    clear: both;
}
