.bar_view {
    padding: 2px;
    float: left;
}

.bar_view.horizontal {
}

.bar_view.vertical {
}

.bar_view.horizontal .label {
    width: 100px;
    display: inline-block;
    padding-right: 10px;
}

.bar_view.vertical .label {
    width: 100px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.bar_view.horizontal .value {
    display: inline-block;
}

.bar_view.vertical .value {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.bar_view .contents {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 0;
    border: 1px solid #cccccc;
}

.bar_view .contents img {
    position: absolute;
    padding: 0;
    margin: 0;
    border: 0;
}

.valence_arousal {
    width: 100%;
}

.satisfaction_vector {
    width: 100%;
}

.satisfaction_vector .contents {
}


.satisfaction_vector .contents  .bar_view {
    width: 10%;
}

.separator {
    clear: both;
}

.percepts {
    clear: both;
}

.percept {
    display:inline-block;
    padding: 2px;
    margin: 2px;
    color: black;
    border: 1px solid #cccccc;
    background-color: #dddddd;
}

.motivations {
    clear: both;
}

.motivation {
    float: left;
}

.motivation .label {
    font-weight: bold;
}

.memory {
    clear: both;
}

.memory_item {
    float: left;
    width: 25%;
}

.memory_item .label {
    font-weight: bold;
}

.history {
    clear: both;
}

.face_recognition {
    clear: both;
}

.face_recognition div {
    float: left;
}

.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}
